<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="LogFile" fileName="${sys:tecnocraft.home}/logs/latest.log" filePattern="${sys:tecnocraft.home}/logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <root level="ALL">
            <appender-ref ref="Console" level="ALL"/>
            <appender-ref ref="LogFile" level="ALL"/>
        </root>
    </loggers>
</configuration>